*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: auto;
    text-align: center;
    padding-top: 15%;
    align-self: center;
}

.parrafo{
    display: inline;
    
}

.img1{
    position: absolute;
    right: 0px;
}

.img2{
    margin-left: 50%;
}